body{
    background-color: black;
}
.navbar-nav .nav-link:hover{
    font-weight:bold;
    color: aqua;
}
.navbar-nav .nav-link{
    font-size: 20px;
    color: white;
}
.navbar-brand{
    font-size: 25px;
}
.businessname img{
    width: 10%;
    height: auto;
}