{% extends 'base.html' %}
{% block content %}
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">About</h1>
        <p class="lead fw-normal text-white-50 mb-0">Welcome to E-Commerce</p>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <center>
        <div class="col-12 col-md-8">
            <h1>Our Story</h1>
            <p>
            Founded with a passion for quality and innovation, our e-commerce journey began with a simple mission: to bring customers products that inspire confidence and enhance everyday life. We started small, committed to offering a curated selection of high-quality items that combine both function and style. Over time, our dedication to excellence and our customers' feedback have helped us grow into a trusted platform that caters to diverse needs, offering an ever-evolving range of products that meet today’s trends and tomorrow’s essentials.
            </p>
            <h1>Our Commitment</h1>
            <p>
          At the heart of our brand lies a commitment to quality, transparency, and customer satisfaction. We partner only with suppliers who share our values of ethical sourcing, quality craftsmanship, and attention to detail. Every product that makes it onto our site goes through a thorough selection process, ensuring it meets our high standards and that it will exceed your expectations. We prioritize a seamless shopping experience by offering secure payment options, fast shipping, and reliable customer service that’s available to support you every step of the way.
            </p>
            <h1>Looking Forward </h1>
            <p>
          As we continue to grow, we’re excited to bring you even more innovative products, exclusive deals, and a personalized shopping experience tailored to your needs. Your satisfaction is our driving force, and we’re constantly exploring new ways to enhance your experience with us, from the products we offer to the ease of shopping on our site. Thank you for choosing us as your trusted partner; we look forward to being a part of your everyday lifestyle and special moments for years to come.</div>
            </p>
        </center>
    </div>
  </div>
{% endblock %}
